<!DOCTYPE html>
<html xmlns:th="https://www/thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title> 会員一覧（管理者）</title>
</head>
<body>
	<div class="goalplanningapp-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<main>
			<div class="container pt-4 pb-5 goalplanningapp-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<h1 class="mb-4 text-center">会員一覧</h1>
						<div th:if="${successMessage}" class="alert alert-success" role="alert">
   							 <span th:text="${successMessage}"></span>
						</div>
						<div class="mb-3">
							<form th:action="@{/admin/users}" method="get"  class="d-flex align-items-center row">

									<div class="col-md-6">
							    		<input type="text" class="form-control" name="keyword" placeholder="名前 or Email" th:value="${keyword}" />
									</div>
									<div  class="col-md-2">
								    	<select name="status" class="form-select">
   											<option value="">全て</option>
    										<option value="active" th:selected="${status=='active'}">有効</option>
    										<option value="deleted" th:selected="${status=='deleted'}">退会済</option>
  										</select>
									</div>
									<div  class="col-md-2">
							   			<button type="submit" class="btn text-white shadow-sm btn-primary w-100">検索</button>
							   		</div>
									<div  class="col-md-2">
										<a th:href="@{/admin/users}" class="btn btn-outline-primary w-100">クリア</a>	
									</div>
							</form>
						</div>
											
						<table class="table table-hover align-middle mb-4">
							<thead>
								<tr>
									<th>
										<a th:href="@{/admin/users(sort='id', direction=${idNextDirection}, keyword=${keyword}, status=${status}, page=0)}">
										ID
										</a>
									</th>
									<th>名前</th>
									<th>Email</th>
									<th>権限</th>
									<th>状態</th>
									<th>
  										<a th:href="@{/admin/users(sort='createdAt', direction=${createdAtNextDirection}, keyword=${keyword}, status=${status}, page=0)}">
										登録日
  										</a>	
									</th>
									<th>退会日</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td th:text="${user.id}"></td>
									<td th:text="${user.name}"></td>				
									<td th:text="${user.email}"></td>
									<td th:text="${user.role.name}"></td>
									<td>
										<span th:if="${user.enabled}" class="badge bg-success">有効</span>
										<span th:unless="${user.enabled}" class="badge bg-secondary">退会済</span>
									</td>
									<td>
  										<span th:if="${user.createdAt != null}"
        									  th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></span>
										<span th:if="${user.createdAt == null}">—</span>
									</td>
									<td>
										<span th:if="${user.deletedAt != null}"
											  th:text="${#temporals.format(user.deletedAt, 'yyyy-MM-dd')}">
										</span>
										<span th:if="${user.deletedAt == null}">—</span>
									</td>
									<td>
										<form th:if="${!user.enabled}"
											　th:action="@{/admin/users/{id}/restore(id=${user.id})}"
											  method="post"
											  onsubmit="return confirm('このユーザーを復活させますか？');">
											<button class="btn btn-sm btn-primary">復活</button>
										</form>
										<span th:if="${user.enabled}" class="text-muted">—</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div  th:if="${userPage.totalPages > 1}" class="d-flex justify-content-center">
							<nav aria-label="会員一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${userPage.first}" class="page-link disabled">前</span>
										<a th:unless="${userPage.first}" th:href="@{/admin/users(page = ${userPage.number - 1}, keyword = ${keyword})}" class="page-link goalplanningapp-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, userPage.totalPages - 1)}" class="page-item">
										                                          <span th:if="${i == userPage.number}" class="page-link active goalplanningapp-active" th:text="${i + 1}"></span>
                                          <a th:unless="${i == userPage.number}" th:href="@{/admin/users(page = ${i}, keyword = ${keyword})}" class="page-link goalplanningapp-page-link " th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${userPage.last}" class="page-link disabled">次</span>
										<a th:unless="${userPage.last}" th:href="@{/admin/users(page = ${userPage.number + 1}, keyword = ${keyword})}" class="page-link goalplanningapp-page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
</body>
</html>