html{
	font-size: 14px;
	
	/*#dbd024,#103390,#559831,#955129,#e2a9f1*/
}
body{
	font-family: 'Noto Sans JP', sans-serif;
}
h1{
	font-size: 1.5rem;
}

a {
 color: #a0a0a0;
 text-decoration: none !important;
 }
 a:hover {
 color: #2C363F;
}

.goalplanningapp-logo{
	width: 30%;
	height: auto;
}
footer {
 width: 100%;
 height: 60px;
 position: absolute;
 bottom: 0;
 background-color: #f2f0eb;
 }
 
.goalplanningapp-wrapper{
 	min-height: 100vh;
	position: relative;
	padding-bottom: 60px;
	box-sizing: border-box;
}

.goalplanningapp-nabar{
	min-height: 60px;
}

.goalplanningapp-btn{
	background-color: #708A8C !important;
	transition: 0.1s;
}

.goalplanningapp-btn::-moz-focus-innerhover {
	opacity: 0.8;
}

@media screen and (min-width: 1400px){
	.goalplanningapp-container {
		max-width:1200px;
	}
}
 