html{
	font-size: 14px;
	
	/*#dbd024,#103390,#559831,#955129,#e2a9f1*/
}

body{
	font-family: 'Noto Sans JP', sans-serif;
	display: flex;
  	flex-direction: column;
}
main {
  flex: 1;
}

h1{
	font-size: 1.5rem;
}

a {
 color: #a0a0a0;
 text-decoration: none !important;
 }
 a:hover {
 color: #2C363F;
}

.goalplanningapp-logo{
	width: 30%;
	height: auto;
}
footer {
 width: 100%;
 height: 60px;
 position: static;
 bottom: 0;
 background-color: #f2f0eb;
 }
 
.goalplanningapp-wrapper{
 	min-height: 100vh;
	position: relative;
	padding-bottom: 60px;
	box-sizing: border-box;
}

.goalplanningapp-navbar{
	min-height: 60px;
}

.goalplanningapp-page-link {
	color: #5196a6;
}

.goalplanningapp-page-link:hover {
	color: #407784;
}

.goalplanningapp-btn{
	background-color: #708A8C ;
	transition: background-color 0.2s;
}
.goalplanningapp-btn:hover {
    background-color: #abc3c4; /* 好きな色に変更可能 */
}


.goalplanningapp-btn::-moz-focus-innerhover {
	opacity: 0.8;
}

.goalplanningapp-active{
	background-color: #5196a6 !important; 
	border-color: #5196a6 !important;
}
.goalplanningapp-page-link {
	color: #5196a6;
}

.goalplanningapp-page-link:hover {
	color: #407784;
}
#calendar{
	margin: 20px;
}
.fc-toolbar-title{
	font-size: 1rem !important;
}

@media screen and (min-width: 1400px){
	.goalplanningapp-container {
		max-width:1200px;
	}
}
 