<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>


<title>Goal Planning App</title>
</head>
<body class="d-flex flex-column vh-100">
	<div th:replace ="~{fragment :: header}"></div>
		<main class="flex-grow-1">

			<div class="container pt-4 pb-5 goalplanningapp-container">
<!--			<div th:if="${param.loggedIn}" class="alert alert-info">
					ログインしました。
				</div> -->
				<div th:if="${param.loggedOut}" class="alert alert-info">
					ログアウトしました。
				</div>
			</div>
			<form th:action="@{/signup}" method="get" class="d-flex justify-content-center my-4">
				<button type="submit" class="btn btn-primary text-white shadow-sm">新規登録</button>
			</form>
		</main>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
		<div th:replace="~{fragment :: scripts}"></div>
</body>
</html>