<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>目標設定</title>
</head>
<body>
	<div class="goalplanningapp-wrapper">
		<div th:replace="~{fragment :: header}"></div>
		<main>
			<div class="container pt-4 pb-5 goalplanningapp-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<h1 th:text="${isEdit} ? '目標を修正' : '目標を新規登録'" class="mb-4 text-center"></h1>
						<div th:if="${message}" class="alert alert-info">
							<span th:text="${message}"></span>
						</div>
						<!-- 入力フォーム -->
						<div th:if="${showConfirm != true}">
						<form th:action="@{/goals/confirm}" th:object="${goalSettingForm}" method="post">
							<div class="form-group row mb-3">
								<div class="col-md-5">
									<label for="qualificationId" class="col-form-label text-md-left fw-bold" >
										<div class="d-flex align-items-center">
											<span class="me-1">目指す資格を選択</span>
											<span class="badge bg-danger" th:unless="${isEdit}">必須</span> 
										</div>
									</label>
								</div>
								<div class="col-md-7">
									<select th:field="*{qualificationId}" class="form-select" id="qualificationSelect">
										<option value="" th:text="'--- 選択してください ---'"></option>
										<option th:each="q : ${qualifications}"
												th:value="${q.id}"
												th:text="${q.name}"
												th:data-minutes="${q.estimatedMinutes}">
										</option>
										<!--手動入力-->
										<option value="-1">その他（手動入力）</option>
									</select>
									<!-- フィールドエラー表示 -->
									<div th:if="${#fields.hasErrors('qualificationId')}"
										 class="text-danger small mb-2"
										 th:errors="*{qualificationId}">
									</div>
								</div>
							</div>
							<!--手動入力欄（資格名）-->
							
							<div class="col-md-7 mb-3" id="manualNameArea">
								<label class="form-label">資格名（手動入力）</label>
								<!-- フィールドエラー表示 -->
								<div th:if="${#fields.hasErrors('customQualificationName')}"
									 class="text-danger small mb-2"
									 th:errors="*{customQualificationName}">
								</div>
								<input type="text" th:field="*{customQualificationName}" th:attr="readonly=${isEdit}" class="form-control">
							</div>
							<!-- 必要時間 -->
							<div class="col-md-7 mb-3" id="manualHoursArea">
								<label for="estimatedMinutes" class="form-label">
										<div class="d-flex align-items-center">
											<span class="me-1">必要学習時間(時間)</span>
											<span class="badge bg-success" th:if="${isEdit}">修正可能</span> 
										</div>
								</label>
								<!-- フィールドエラー表示 -->
								<div th:if="${#fields.hasErrors('customEstimatedHours')}"
									 class="text-danger small mb-2"
									 th:errors="*{customEstimatedHours}">
								</div>
								<input type="number" class="form-control" th:field="*{customEstimatedHours}" id="customEstimatedHours">
							</div>
							<!--開始日-->
							<div class="mb-3">
								<div th:if="${#fields.hasErrors('startDate')}" class="text-danger small mb-2" th:errors="*{startDate}"></div>
								<label for="startDate" class="form-label">
									<div class="d-flex align-items-center">
										<span class="me-1">学習開始日</span>
										<span class="badge bg-danger" th:unless="${isEdit}">必須</span> 
									</div>
								</label>
								<input type="date" th:field="*{startDate}" th:attr="readonly=${isEdit}" class="form-control" id="startDate">
							</div>
							<!--目標達成日-->
							<div class="mb-3">
								<div th:if="${#fields.hasErrors('goalDate')}" class="text-danger small mb-2" th:errors="*{goalDate}"></div>
								<label for="goalDate" class="form-label">
									<div class="d-flex align-items-center">
										<span class="me-1">目標達成日</span>
										<span class="badge bg-danger" th:unless="${isEdit}">必須</span> 
										<span class="badge bg-success" th:if="${isEdit}">修正可能</span> 
									</div>	
								</label>
								<input type="date" th:field="*{goalDate}" class="form-control" id="goalDate" required>
							</div>
							<!-- 計算・送信 -->
							<div class="d-flex justify-content-center my-4">
								<button type="submit" class="btn btn-outline-primary">計算</button>	
							</div>
							<!-- 入力エラー表示 -->
							<div th:if="${#fields.hasErrors()}" class="alert alert-danger">
								<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
							</div>
						</form>
						</div>

						<!-- 確認画面 -->
						<div th:if="${showConfirm == true}" class="card shadow-sm p-4">
							<h4 class="mb-4 text-center">目標確認</h4>
								<div class="row mb-3">
									<div class="col-6 fw-bold text-end">資格名：</div>	
									<div class="col-6" th:text="${qualificationName}"></div>
								</div>	
								<div class="row mb-3">
									<div class="col-6 fw-bold text-end">1日あたり必要学習時間：</div>	
									<div class="col-6" th:text="${hoursPerDay}"></div>
								</div>
								<div class="row mb-3">
									<div class="col-6 fw-bold text-end">1週間あたり必要学習時間：</div>	
									<div class="col-6" th:text="${hoursPerWeek}"></div>
								</div>
								<form th:action="@{/goals/save}" method="post" class="d-flex justify-content-center my-4">
									<input type="hidden" name="qualificationId" th:value="${goalSettingForm.qualificationId}">
  									<input type="hidden" name="customQualificationName" th:value="${goalSettingForm.customQualificationName}">
									<input type="hidden" name="customEstimatedHours" th:value="${goalSettingForm.customEstimatedHours}">
									<input type="hidden" name="startDate" th:value="${goalSettingForm.startDate}">
									<input type="hidden" name="goalDate" th:value="${goalSettingForm.goalDate}">
									<button type="submit" th:text="${isEdit} ? '目標を修正する' : '目標を登録する'"  class="btn text-white shadow-sm w-30 btn-primary"></button>
								</form>
								<div class="text-center">
									<a th:href="@{/goals/setting}" class="btn btn-outline-primary">戻る</a>
								</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
	<script src="/js/setting.js"></script>

</body>
</html>